.section {
  height: 320px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    center / cover no-repeat
      image-set(url('/img/hero-mob.webp') 1x, url('/img/hero-mob@2x.webp') 2x);
  animation: scaleBg 1.5s ease-in-out forwards;

  @media (min-width: 480px) {
    height: 380px;
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      center / cover no-repeat
        image-set(url('/img/hero-tab.webp') 1x, url('/img/hero-tab@2x.webp') 2x);
  }

  @media (min-width: 768px) {
    height: 480px;
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      center / cover no-repeat
        image-set(
          url('/img/hero-1024.webp') 1x,
          url('/img/hero-1024@2x.webp') 2x
        );
  }

  @media (min-width: 1024px) {
    height: 560px;
    background: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
      ),
      center / cover no-repeat
        image-set(
          url('/img/hero-desk.webp') 1x,
          url('/img/hero-desk@2x.webp') 2x
        );
  }

  @media (min-width: 1440px) {
    height: 640px;
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      image-set(
        url('/img/hero-large.webp') 1x,
        url('/img/hero-large@2x.webp') 2x
      ),
      image-set(
        url('/img/hero-tiles.webp') 1x,
        url('/img/hero-tiles@2x.webp') 2x
      );
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: center, center, left;
    background-size: 100% 100%, contain contain;
  }
}

.image {
  object-fit: cover;
  object-position: center;
  opacity: 0.8;
  z-index: 0;
}

.row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  z-index: 1;
}

.content {
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  padding: 24px;
  color: var(--color-on-primary);
  /* background-color: var(--color-primary); */
  background-color: color-mix(
    in srgb,
    var(--color-primary) 80%,
    transparent 20%
  );

  @media (min-width: 768px) {
    max-width: 540px;
    padding: 40px 48px;
  }
}

.title {
  font-size: 24px;
  font-weight: 600;

  @media (min-width: 576px) {
    font-size: 32px;
  }

  @media (min-width: 768px) {
    font-size: 40px;
  }

  @media (min-width: 1280px) {
    font-size: 48px;
  }
}

.desc {
  margin-top: 24px;
  font-weight: 600;
}

.link {
  margin-top: 24px;
  width: 200px;

  @media (min-width: 768px) {
    margin-top: 48px;
  }
}
