@layer reset, base;

@import url('modern-normalize/modern-normalize.css') layer(reset);
@import url('./reset.css') layer(reset);
@import './colors.css';

@layer base {
  body {
    font-family: var(--ibm-plex-sans), system-ui, -apple-system, 'Segoe UI',
      Roboto, 'Noto Sans', Ubuntu, Cantarell, 'Helvetica Neue', Arial,
      sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  .container {
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 16px;

    @media (min-width: 768px) {
      padding-inline: 24px;
    }

    @media (min-width: 1028px) {
      padding-inline: 36px;
    }

    @media (min-width: 1440px) {
      padding-inline: 40px;
    }
  }
}
