.productCard {
  width: 340px;
  height: 498px;
  border: 1px solid var(--shop-color-gray-light);
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--shop-color-white);
}
.imageBlock {
  position: relative;

  width: 300px;
  height: 298px;
  aspect-ratio: 4/3;
}

.imageCard {
  object-fit: cover;
  border-radius: 4px;
}
.like {
  position: absolute;
  top: 16px;
  right: 14px;
  z-index: 2;
  background: none;
  border: none;
  cursor: pointer;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;

  margin: 8px 0px 0px;
  text-align: center;
}

.articlePrice {
  display: flex;
  justify-content: space-between;
}
.priceCard {
  font-size: 16px;
  font-weight: 500;
  margin: 4px 0px;
}
.articleCard {
  font-size: 14px;
  
  color: var(--shop-color-gray-dark);
  margin: 0px;
}
.addToCard {
  width: 100%;
  background: var(--shop-color-primary);
  border-radius: 4px;
}
