.page {
  --shop-color-black: #202020;
  --shop-color-gray-dark: #767676;
  --shop-color-gray: #e1e1e1;
  --shop-color-gray-light: #ededed;
  --shop-color-background: #f8f8f8;
  --shop-color-white: #ffffff;
  --shop-color-primary: #4e4e57;
  --shop-color-red: #f64e60;
}
